.audio-visualizer {
  position: absolute;
  right: 20px;
  top: 20px;
  overflow: hidden;

  &--hidden {
    display: none;
  }
}

.audio-visualizer__title {
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 1;
  text-shadow: 0 0 3px #FFF;
}
.audio-visualizer__canvas {
  display: block;
}
