.audio-visualizer {
  position: relative;
  width: 200px;
  border: none;
  mix-blend-mode: lighten;

  &--hidden {
    display: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    border: 2px solid;
    filter: drop-shadow(0 0 3px #FFF);
  }
}

.audio-visualizer__container {
  overflow: hidden;
  border-radius: inherit;
}

.audio-visualizer__title {
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 1;
  text-shadow: 0 0 5px white;
}

.audio-visualizer__canvas {
  display: block;
}

.audio-visualizer__warning {
  padding: 3px 0;
  border-top: 2px solid;
}
