.move-detection {
  padding: 10px;
  opacity: 0;

  &--hidden {
    display: none;
  }

  &--detected {
    filter: drop-shadow(0 0 3px #FFF);
    opacity: 1;
  }
}

.move-detection__detector {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}
