$radar-size: 120px;
$radar-step: $radar-size / 10;
$color: #FFF;

.radar {
  /*display: none;*/
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 20;
  width: $radar-size;
  height: $radar-size;
  background: repeating-radial-gradient(
    transparent $radar-step,
    $color $radar-step, $color $radar-step + 1,
    transparent $radar-step, transparent $radar-step * 2
  );
  border: 1px solid $color;
  border-radius: 50%;
  opacity: .5;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: $radar-step;
    height: $radar-step;
    background: $color;
    border-radius: 50%;
  }
}

.radar__line {
  position: relative;
  height: $radar-size / 2;
  width: 1.5px;
  margin: auto;
  display: flex;
  justify-content: center;
  background: $color;

  transform-origin: bottom;
  transform: rotate(45deg);

  animation: rotate 7s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
