.posts {
  @media (min-width: $bp-two-cols) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 25px;
  }

  @media (min-width: $bp-three-cols) {
    grid-template-columns: repeat(auto-fill, 185px);
    grid-column-gap: 15px;
    grid-auto-flow: dense;
  }

  @media (min-width: $bp-tablet) {
    grid-template-columns: repeat(auto-fill, 105px);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(auto-fill, 145px);
    grid-column-gap: 25px;
  }

  @media (min-width: 1500px) {
    grid-template-columns: repeat(auto-fill, 120px);
  }

  @media (min-width: 1700px) {
    grid-template-columns: repeat(auto-fill, 165px);
  }

  @media (min-width: 1900px) {
    grid-template-columns: repeat(auto-fill, 175px);
  }
}
