.post {
  position: relative;
  min-height: 100px;
  height: 230px;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $bp-tablet) {
    height: 245px;
    grid-column: span 2;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  @media (min-width: $bp-tablet) {
    height: 245px;
  }

  @media (min-width: 1200px) {
    height: 230px;
  }

  @media (min-width: 1700px) {
    height: 180px;
  }
}

/* Title
------------------------------ */
.post__title {
  grid-area: title;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 7px;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 700;
}

/* Image
------------------------------ */
.post__img-wrapper {
  grid-area: img;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  @media (min-width: 400px) {
    width: 30%;
    max-height: 100px;
    order: -1;
    align-items: center;
  }

  @media (min-width: $bp-two-cols) {
    align-items: flex-end;
    width: 100%;
    max-height: none;
    margin-right: 0;
    order: 0;
    align-items: flex-start;
  }
}

.post__img {
  display: block;
  max-width: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

/* Content
------------------------------ */
.post__content {
  grid-area: content;
  position: relative;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-between;

  @media (min-width: $bp-tablet) {
    flex-direction: row;
  }
}

/* Desc
------------------------------ */
.post__desc {
  overflow: hidden;
  margin: 0;
  margin-top: 8px;
  line-height: 1.5;
}

/* Channel
------------------------------ */
.post__channel {
  margin: 12px 0;
  padding-right: 65px;
  font-weight: bold;

  @media (min-width: 1700px) {
    margin: 16px 0;
  }
}


/* Actions
------------------------------ */
.post-actions {
  min-width: 25px;
  margin-top: 10px;
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $bp-tablet) {
    margin-top: 0;
  }
}

.post-actions__button {
  position: relative;
  width: 100%;
  width: 25px;
  height: 25px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  border-radius: 3px;
  color: #D3D3D3;
  cursor: pointer;

  &:hover {
    color: #777;
  }
  &:focus {
    outline: none;
    color: #333;
    box-shadow: 0 0 0 2px steelblue;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    right: -10px;
    bottom: -5px;
    left: -10px;
  }
}
