$bad-signal-time: 5s;

HTML,
BODY {
  height: 100%;
}

BODY {
  min-width: 300px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #FFF;
  font:  14px/1.4 Play, Verdana, sans-serif;
  color: #000;
  background: black;
}

.hidden-svg {
  position: absolute;
  left: 0;
  transform: translate(-100%);
}

.screen {
  position: relative;
  width: 800px;
  height: 600px;
  overflow: hidden;
  border-radius: 10px;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      hsla(0, 100%, 0, .35) 50%,
      transparent 50%
      );
    background-size: 100% 4px;
    mix-blend-mode: multiply;
    pointer-events: none;
  }
}

.content {
  position: relative;
  width: 800px;
  width: 100%;
  height: 600px;
  flex-shrink: 0;
  transition: background 1s;

  &--video-playing {
    background: crimson;
  }

  &--has-filter {
    background: rosybrown;
  }
}

.video {
  display: none;
}

.video-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  filter: grayscale(1) contrast(1.1) brightness(2);
}
