HTML,
BODY {
  height: 100%; }

BODY {
  min-width: 300px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: black;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.4;
  font-family: Play, Verdana, sans-serif;
  color: #FFF; }

.hidden-svg {
  position: absolute;
  left: 0;
  -webkit-transform: translate(-100%);
          transform: translate(-100%); }

.screen {
  position: relative;
  width: 800px;
  height: 600px;
  overflow: hidden;
  border-radius: 10px; }
  .screen::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.35) 50%, transparent 50%);
    background-size: 100% 4px;
    mix-blend-mode: multiply;
    pointer-events: none; }

.content {
  position: relative;
  width: 800px;
  height: 600px;
  flex-shrink: 0;
  transition: background .5s; }
  .content--video-playing {
    background: crimson; }
  .content--has-filter {
    background: #777; }
  .content--loud-warning {
    background: teal; }

.video {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  -webkit-filter: grayscale(1) contrast(1.1) brightness(2);
          filter: grayscale(1) contrast(1.1) brightness(2); }

.column {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap; }
  .column--right {
    right: 0;
    align-items: center; }

.widget {
  border-radius: 20px/15px;
  border: 2px solid;
  opacity: .75;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFF; }

.data {
  width: 150px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 0 5px white;
  color: #FFF; }
  .data--hidden {
    display: none; }

.data__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none; }

.data__item {
  position: absolute;
  overflow: hidden;
  max-height: 0;
  opacity: .75;
  white-space: pre;
  -webkit-animation: display-text 20s linear infinite;
          animation: display-text 20s linear infinite; }
  .data__item:nth-child(4n + 2) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s; }
  .data__item:nth-child(4n + 3) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s; }
  .data__item:nth-child(4n) {
    -webkit-animation-delay: 15s;
            animation-delay: 15s; }

@-webkit-keyframes display-text {
  0% {
    max-height: 0; }
  5% {
    max-height: 100vh; }
  16% {
    opacity: .75; }
  16.5% {
    opacity: 1; }
  17% {
    opacity: 0; }
  17.5% {
    opacity: 1; }
  19% {
    opacity: 0;
    max-height: 100vh; }
  20% {
    max-height: 0; } }

@keyframes display-text {
  0% {
    max-height: 0; }
  5% {
    max-height: 100vh; }
  16% {
    opacity: .75; }
  16.5% {
    opacity: 1; }
  17% {
    opacity: 0; }
  17.5% {
    opacity: 1; }
  19% {
    opacity: 0;
    max-height: 100vh; }
  20% {
    max-height: 0; } }

.analysis {
  opacity: .75;
  text-shadow: 0 0 5px white;
  transition: opacity 1s; }
  .analysis--hidden {
    opacity: 0; }

.analysis__title {
  text-align: center;
  line-height: 1; }
  .analysis__title::after {
    content: "====================";
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap; }

.analysis__container {
  max-width: 180px;
  height: 224px;
  overflow: hidden;
  font-size: 16px; }

.analysis__content {
  -webkit-animation: moveContent 2s infinite steps(10);
          animation: moveContent 2s infinite steps(10); }
  .analysis--hidden .analysis__content {
    -webkit-animation-play-state: paused;
            animation-play-state: paused; }

@-webkit-keyframes moveContent {
  to {
    -webkit-transform: translateY(-220px);
            transform: translateY(-220px); } }

@keyframes moveContent {
  to {
    -webkit-transform: translateY(-220px);
            transform: translateY(-220px); } }

.audio-visualizer {
  position: relative;
  width: 200px;
  border: none;
  mix-blend-mode: lighten; }
  .audio-visualizer--hidden {
    display: none; }
  .audio-visualizer::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    border: 2px solid;
    -webkit-filter: drop-shadow(0 0 3px #FFF);
            filter: drop-shadow(0 0 3px #FFF); }
  .audio-visualizer--loud-warning {
    opacity: 1; }

.audio-visualizer__container {
  overflow: hidden;
  border-radius: inherit; }

.audio-visualizer__title {
  position: relative;
  margin-top: 10px;
  margin-bottom: 5px;
  line-height: 1;
  text-shadow: 0 0 5px white; }

.audio-visualizer__canvas {
  display: block; }

.audio-visualizer__warning {
  padding: 3px 0;
  border-top: 2px solid; }

.move-detection {
  padding: 10px;
  opacity: 0; }
  .move-detection--hidden {
    display: none; }
  .move-detection--detected {
    -webkit-filter: drop-shadow(0 0 3px #FFF);
            filter: drop-shadow(0 0 3px #FFF);
    opacity: 1; }

.move-detection__detector {
  position: absolute;
  pointer-events: none;
  opacity: 0; }

/*# sourceMappingURL=styles.css.map */
